---

---

<article>
    <!-- <slot/> -->
    <img src="https://picsum.photos/id/65/150/150
    " alt="Et random billed">
    <h2>Music Galore</h2>
    <p>New music from that artist we all know</p>
</article>

<style>

article{
    box-sizing: border-box;
    background-color: #212121;
    padding: 15px 10px 10px 10px;
    border-radius: 10px;
    width: min-content;
    height: auto;
}

article:hover{
    background-color: #535353;
    opacity: 0.8;
}

img{
    border-radius: 10px;
}

h2{
    color: #ffffff;
}

p{
    color: #b3b3b3;
}

</style>